<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <a href="http://jadi.net/tags/بستون">
این برنامه شدیدا در حال توسعه است. اینجا را ببینید
      </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">بستون</h3>
        </div>
        <div class="panel-body">
          <p>
            بستون یک پروژه اش که قدم به قدم توش سعی می کنیم سیستمی درست کنیم که می شه خرج و دخل رو باهاش نگه داشت. فعلا در ابتدای راهیم
            و برای استفاده ازش عملا باید یک گیک علاقمند باشنی.
          </p>
          <p>
            برای باز کردن اکانت
            <a href="http://bestoon.ir/accounts/register/">به صفحه رجیستر شدن برین</a> و برای اطلاعات بیشتر مراجعه بکنین
            به
            <a href="http://github.com/jadijadi/bestoon/">
  گیت هاب پروژه.
</a>
          </p>
        </div>
        <p>
        </p>
      </div>
      <br /><br />
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-heading">
            <h3 class="panel-title">
              ماجرا چیه؟
            </h3>
          </div>
          <p>
            این در واقع یک سیستم نگهداری خرج و دخل شخصی است. پول هایی که در آوردین رو توش می زنین و پول‌هایی که خرج کردین رو یادداشت
            می کنین. اما این سیستم شدیدا در ابتدای راهه، دلیلش؟ این سیستم داره به عنوان یک پروسه آموزش کار می کنه و
            <a href="http://jadi.net/tag/بستون">
        من قدم به قدم کارهایی که برای راه انداختن اینجا دارم می کنم رو منتشر کرده ام
      </a> .
          </p>
          <section>
            در حال حاضر برای استفاده از این سیستم باید قدم های زیر رو پیش برین:
            <ul>
              <li>
                 از صفحه رجیستریشن که این بغل و اون بالاست، ثبت نام کنین و توکن دریافت کنین
              </li>
              
              <li>
                 خرج و دخل ها رو وارد سیستم کنین و منتظر باشین که هی سیستم کامل‌تر بشه
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="">
    <div class="">
      <p>
        <strong>بستون</strong> یک پروژهٔ آزاد و متن‌باز است.<br>
        <a href="https://github.com/jadijadi/bestoon">مخرن گیت‌هاب پروژه</a> |
        <a href="http://gapper.ir/channel/bestoon">گزارش مشکلات و پیشنهادها</a> <br>
        <a href="https://github.com/n1arash/ngBestoon">مخزن گیتهاب وب کلایت</a>
      </p>
    </div>
  </div>
</footer>
<!-- /.container -->
