<div class="row">
  <div *ngIf="message" class="alert alert-info">
    <a href="#" class="close" (click)="message = false" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{message}}</strong>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">توکن</h3>
      </div>
      <div class="panel-body">
        <form enctype="multipart/form-data" (submit)="setToken(token)">
          <div class="input-group">
            <input type="text" [(ngModel)]="token" class="form-control" name="token" placeholder="توکن"
                   aria-describedby="basic-addon1">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-key"></i></span>
          </div>
          <button type="submit" class="btn btn-block btn-success">دریافت دَخل و خَرج</button>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="states" class="col-md-6 col-sm-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">جدول دخل و خرج</h3>
      </div>
      <div class="panel-body">

        <table class="table table-responive table-striped table-bordered">
          <tr>
            <th>نوع</th>
            <th>مجموع</th>
            <th>تعداد</th>
          </tr>
          <tr>
            <td>دخل</td>
            <td>{{states.income.amount__sum}}</td>
            <td>{{states.income.amount__count}}</td>
          </tr>
          <tr>
            <td>خرج</td>
            <td>{{states.expense.amount__sum}}</td>
            <td>{{states.expense.amount__count}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div *ngIf="states" class="row">
  <div  class="col-md-6 col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">ثبت دخل</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <input type="number" [(ngModel)]="incomeAmount" class="form-control" placeholder="چقدر دخل زدی ؟">
        </div>
        <div class="form-group">
          <textarea name="text" [(ngModel)]="incomeText" cols="20" rows="8" class="form-control"
                    placeholder="چجوری دخل زدی"></textarea>
        </div>

        </div><!-- /input-group -->
        <button (click)="submitIncome(token,incomeAmount,incomeText);incomeText ='';incomeAmount='';" class="btn btn-block btn-primary" type="button">
          ثبت
        </button>
      </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">ثبت خرج</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <input type="number" [(ngModel)]="expenseAmount" class="form-control" placeholder="چقدر خرج کردی ؟">
        </div>
        <div class="form-group">
                    <textarea name="text" cols="20" rows="8" [(ngModel)]="expenseText" class="form-control"
                              placeholder="چرا خرج کردی ؟"></textarea>
        </div>

        </div><!-- /input-group -->
        <button (click)="submitExpense(token,expenseAmount,expenseText);expenseAmount='';expenseText='' " class="btn btn-block btn-primary"
                type="button">ثبت
        </button>
      </div>
    </div>
</div>



